.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  height: var(--navbar-height);
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}

.header__navbar-item {
  padding: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item:hover .header__notify {
  display: block;
}

.header__navbar-item--qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  /* Display & Box model */
  display: inline-block;

  /* Color */
  color: var(--white-color);

  /* Text */
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  height: 14px;
  width: 1px;
  background-color: #fb9086;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* ===== Header QR Code ===== */
.header__qr {
  /* Positioning */
  position: absolute;
  left: 0;
  top: 120%;

  /* Display and Box */
  display: none;
  width: 186px;
  padding: 8px;
  border-radius: 2px;

  /* Color */
  background-color: var(--white-color);

  /* Other */
  animation: fadeIn ease-in 0.1s;
}

.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 11px;
}

.header__qr-download-img {
  height: 16px;
}

/* ===== Header notification ===== */
.header__notify {
  /* Positioning */
  position: absolute;
  top: 120%;
  right: 0;

  /* Display & Box model */
  display: none;
  width: 404px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;

  /* Color */
  background-color: var(--white-color);

  /* Other */
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.25s;
  will-change: opacity, transform;
}

.header__notify::before {
  /* Postition */
  content: "";
  position: absolute;
  top: -29px;
  right: 4px;

  /* Display & Box model */
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
  content: "";
  position: absolute;
  display: block;
  top: -16px;
  right: 0;
  width: 95px;
  height: 20px;
}

@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header > h3 {
  /* Display & Box model */
  margin: 0 0 0 12px;

  /* Color */
  color: #888;

  /* Text */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  /* Display & Box model */
  display: block;
  margin-bottom: 5px;

  /* Text */
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;

  /* Color */
  color: var(--text-color);
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #756f6e;
}

.header__notify-footer {
  text-align: center;
}

.header__notify-footer-btn {
  /* Display & Box model*/
  display: block;
  padding: 8px 16px;

  /* Text */
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;

  /* Color */
  color: var(--text-color);
}

/* ===== Authen modal ===== */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  margin: 8px 0;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  /* Display & Box model */
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;

  /* Text */
  font-size: 1.4rem;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  padding: 0 12px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__control-back {
  margin-right: 8px;
}

.auth-form__socials {
  display: flex;
  margin-top: 22px;
  padding: 16px 36px;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.auth-form__social-icon {
  width: 1.6rem;
  font-size: 1.8rem;
}

.auth-form__social--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__social--facebook .auth-form__social-icon {
  color: var(--white-color);
}

.auth-form__social-label {
  margin: 0 36px;
}

.auth-form__social--google {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  color: #939393;
  font-size: 1.4rem;
  text-decoration: none;
}

.auth-form__help-separate {
  display: block;
  height: 20px;
  margin: 0 16px;
  border-left: 1px solid var(--border-color);
}

.auth-form__help-link-forgot {
  color: var(--primary-color);
}

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 150px;
}

.header__search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
}
